nav {
  height: 100px;
  background-color: #fff;
}

.nav-wrapper ul li a, .button-collapse{color: #808284;}

.hide-on-med-and-down li a, .side-nav li a {font-size: 1.8em;}

.hide-on-med-and-down li a {padding-top: 15px;}

nav .nav-wrapper, nav ul, .hide-on-med-and-down li, .hide-on-med-and-down li a {height: 100%;}

.fa-facebook, .fa-twitter, .fa-instagram {color: #29b6f6;}

.red {
  background-image: url("../Images/Bride-Photography.jpg");
  background-color: white !important;
}

.amber {
  background-image: url("../Images/Jennettes-Pier-Wedding.jpg");
  background-color: white !important;
}

.green{
  background-image: url("../Images/Sunset-Wedding.jpg");
  background-color: white !important;
}

.red, .amber, .green {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}




