body {
  font-family: 'PT Serif', serif;
}

.carousel-indicators li { visibility: hidden; }

img {
  max-height: 94vh;
  width: 100%;
}

.logo {
  margin-left: 100px;
  float: left;
}

.mynav {
  margin-top: 10px;
}

.col-lg-12 {
  background-color: blue;
  border-top: 1px solid #eeeff2;
  border-bottom: 1px solid #eeeff2;
}

ul {
  margin-right: 100px;
  float: right;
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

li {
  border-right: 1px solid #eeeff2;
  display: inline-block;
}

li a {
  padding: 8px;
}

.carousel-caption {
  font-weight: bold;
  letter-spacing: .1em;
  text-transform: uppercase;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
  width: 45%;
  left: 27.5%;
  right: 27.5%;
  font-size: 20px;
  color: #93603b;
  background: url("http://matiaroglic.weebly.com/uploads/2/7/7/3/27738215/9348880_orig.jpg");
}

.container-fluid .contact-header {
  margin-top: 90px;
  text-align: center;
}

































